<?xml version="1.0"?>

<model>
  <name>Plane Sensored</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Bill Fan</name>
    <email>billfan.2001@gmail.com</email>
  </author>

  <description>
    The Cessna model with aerodynamics ripped from the gazebo included models.
  </description>
</model>